*{
    margin: 0;
    padding: 0;
}
body{
    background: url("./assets/wrappedGreen.jpeg");
    background:   linear-gradient(to right, #2fce0f13 0%, rgba(255, 255, 255, 0.668) 140%),
url('./assets/wrappedGreen.jpeg') ;
    background-position:top center;
    backdrop-filter: blur(2px);
    background-size: cover;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
   
}
.desktop{
    --Screenwidth:50vw;
    --Screenheight:calc(var(--Screenwidth)*.55);
    display: flex;
}
.screen{
    width: var(--Screenwidth);
    height:var(--Screenheight) ;
    position: relative;
    z-index: 2;
}
.viewport{
    --portwidth:calc(var(--Screenwidth)*.78);
    --portwidthover:calc(var(--Screenwidth)*.11);
    --portheight:calc(var(--Screenwidth)*.468);
    --portheightless:calc(var(--Screenwidth)* .02);
    width: var(--portwidth);
    height:var(--portheight);
    translate: var(--portwidthover) var(--portheightless);
    background: url('./assets/wrappedGreen.jpeg');
    background-position:top center ;
    background-size: cover;
    position: absolute;
    z-index: 1;
    filter:brightness(100%) blur(0px);
    transition:background-position 1s ease-in  ;
}
.screen:hover ~ .viewport{
    /* background-color: rgb(5, 51, 51);  */
    /* background: url('./assets/wrappedGreen.jpeg'); */
        /* background-position:top center ; */
        /* background-size: cover; */
    /* position: absolute; */
    /* opacity: 0; */
    background-position:bottom center ;
    filter:brightness(100%) blur(0px);
    z-index: 1;
}

/* img{
    position: relative;
} */
